/* Sticky Footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

/* Spacing between ">>" icon and footer items in the footer */
#footer ul.quick-links li a i {
	margin-right: 1rem;
}

/* Styles for login form */
.form-signin {
	padding: 15px;
	margin: 0 auto;
}

.form-one-column {
	max-width: 330px;
}

.form-two-columns {
	max-width: 660px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
	padding-top: 10px;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
}

.flex-column {
	display: flex;
	flex-direction: column
}

.flex-fill-vertical {
	flex: 1;
}

/* Style for avatar picture in header */
.avatar {
	border-radius: 50%;
	background-image: url(../images/avatar.png);
	width: 4rem;
	height: 4rem;
}

/* Style for the main section of pages */
main {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* Remove list bullets */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Skill card titles */
.card-title {
	font-size: 2.5rem;
}

/* User list */
.user-list-item {
	border-top: 1px solid #ced4da;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.user-list-avatar {
	width: 6rem;
	height: 6rem;
	margin-bottom: 2rem;
	border: 1px solid #ced4da;
}

.user-list-item>div:last-child {
/* 	margin-top: 2rem; */
}

/* Form labels */
.col-form-label {
	font-weight: bold;
}

/* Headline for sections */
.headline {
	margin-bottom: 2rem;
}

/* User image in profile views */
.img-view {
	border: 1px solid #ced4da;
}
