<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments.html :: head"></head>

<body class="text-center">

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main role="main" class="inner cover">
    <br>
    <br>
    <h1 class="cover-heading">Account has beed deleted.</h1>
    <br>
    <br>
    <a href="/" class="btn btn-secondary">Back to Homepage</a>
    <br>
    <br>
    <br>
    <a href="/admin" class="btn btn-secondary">Return to the list (For Martin: delete later)</a>
    <br>
    <br>
  </main>


    <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>