<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments.html :: head"></head>

<body class="text-center">

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <div class="container">
      <form name="f" class="form-signin form-one-column" method="get" th:action="@{/}" action="/">
        <div class="row">
          <div class="col col-12">
            <h2 class="form-signin-heading">Account has been deleted.</h2>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              <i class="fas fa-home fa-fw"></i> Homepage
            </button>
          </div>
        </div>
      </form>
    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>