<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<title>SkillHub</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>

<body>

	<header th:replace="fragments.html :: top">Here goes the
		header</header>

	<main>


	<body>
	<div class="container-edit"></div>
		<h3 class="h3edit" th:text="${user.id} ? 'Edit your profile' : 'Create your profile'">User2</h3>

		<form method="post" th:action="@{/user/upsert}" th:object="${user}">
			<input name="id" th:field="*{id}" type="hidden">


			<!-- userName
			<label for="userName">User name:</label> <input id="userName"
				name="userName" placeholder="Pottylein" required
				th:field="*{userName}" type="text"> <br> <br>-->

			<div class="form-group">
				<label for="userName">User name</label> <input type="text"
					class="form-control" id="userName" name="userName"
					placeholder="steffi216" required th:field="*{userName}">
			</div>

			<!-- first name
			<label for="user-first-name">First name:</label> 
			<input id="user-first-name" name="firstName" placeholder="Harry" required
				th:field="*{firstName}" type="text"> <br> <br>-->


			<div class="form-group">
				<label for="user-first-name">First name</label> <input type="text"
					class="form-control" id="firstName" name="firstName"
					placeholder="Stephanie" required th:field="*{firstName}">
			</div>


			<!-- last name
			<label for="user-last-name">Last name:</label> <input
				id="user-last-name" name="lastName" placeholder="Potter" required
				th:field="*{lastName}" type="text"> <br> <br>-->


			<div class="form-group">
				<label for="user-last-name">Last name</label> <input type="text"
					class="form-control" id="lastName" name="lastName"
					placeholder="Bauer" required th:field="*{lastName}">
			</div>


			<!-- zip code
			<label for="zip-code">Zip Code:</label> <input id="zip-code"
				name="zipCode" placeholder="12345" required th:field="*{zipCode}"
				type="number"> <br> <br>-->

			<div class="form-group">
				<label for="zip-code">Zip code</label> <input type="text"
					class="form-control" id="zip-code" name="zipName"
					placeholder="90427" required th:field="*{zipCode}">
			</div>


			<!-- city 
			<label for="city">City:</label> <input id="city" name="city"
				placeholder="Bonn" th:field="*{city}" type="text"> <br>
			<br>-->

			<div class="form-group">
				<label for="City">City</label> <input type="text"
					class="form-control" id="city" name="city" placeholder="Nürnberg"
					required th:field="*{city}">
			</div>


			<!-- birthday
			<label for="dateOfBirth">Birthday:</label> 
			<input id="dateOfBirth"
				name="dateOfBirth" placeholder="1980-07-31" required
				th:field="*{dateOfBirth}" type="date"> <br> <br> -->

			<div class="form-group">
				<label for="dateOfBirth">Birthday</label> <input type="date"
					class="form-control" id="dateOfBirth" name="dateOfBirth"
					placeholder="1995-06-21" required th:field="*{dateOfBirth}">
			</div>

			<!-- email
			<label for="email">Email:</label> <input id="email" name="email"
				placeholder="Potter@hogwards.com" required th:field="*{email}"
				type="text"> <br> <br>-->


			<div class="form-group">
				<label for="email">Email address</label> <input type="email"
					class="form-control" id="email" aria-describedby="emailHelp"
					name="email" placeholder="stephanie.bauer@telekom.de" required
					th:field="*{email}"> <small id="emailHelp"
					class="form-text text-muted">We'll never share your email
					with anyone else.</small>
			</div>


			<!-- description
			<label for="user-description">Description:</label>
			<textarea id="user-description" name="description"
				th:field="*{description}"></textarea>
			<br> <br> -->


			<div class="form-group">
				<label for="user-description">Description</label>
				<textarea class="form-control" id="user-description"
					name="description" th:field="*{description}" rows="3"></textarea>
			</div>

			<!-- imageURL
			<label for="imageURL">Image URL (placeholder):</label> <input
				id="imageURL" name="imageURL" placeholder="Place holder..." required
				th:field="*{imageURL}" type="text"> <br> <br>-->


		
				<div class="form-group">
					<label for="imageURL">Upload your foto</label>
					 <input type="test" class="form-control-file" id="imageURL" name="imageURL" 
				th:field="*{imageURL}">
				</div>
	


			<button type="submit" value="Submit" class="btn btn-primary edit">Submit</button>
		

		<!--<a href="/users">Return to the list</a>
		<br>
		<br>
		<a href="/">Return to the index</a>-->
	</body>
	</div>

	</main>


	<footer th:replace="fragments.html :: bottom">Here goes the
		footer</footer>


</body>

</html>