<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments.html :: head"></head>

<body>

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <div class="container">

      <div class="row">
      
        <div class="col col-6 col-lg-2">
          <img class="img-view" th:unless="${user.image}" src="../images/avatar.png" width="100%"> <img
            class="img-view" th:if="${user.image}" th:src="@{'/user/' + ${user.id} + '/image'}" width="100%">
        </div>

        <div class="w-100 d-block d-lg-none"></div>

        <div class="col col-12 col-lg-8">
          <div>
            <form th:object="${user}">

              <h2 class="headline">Your profile</h2>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">First name</label>
                <div class="col-sm-9">
                  <div class="form-control-plaintext" th:text="*{firstName}"></div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last name</label>
                <div class="col-sm-9">
                  <div class="form-control-plaintext" th:text="*{lastName}"></div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Zip code</label>
                <div class="col-sm-9">
                  <div class="form-control-plaintext" th:text="*{zipCode}"></div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                  <div class="form-control-plaintext" th:text="*{city}"></div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date of birth</label>
                <div class="col-sm-9">
                  <div class="form-control-plaintext" th:text="*{#temporals.format(dateOfBirth, 'dd.MM.yyyy')}"></div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <a class="form-control-plaintext" th:href="'mailto:' + *{email}" target="_blank" th:text="*{email}"></a>
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">Description</label>
                <div class="form-control-plaintext" th:text="*{description}"></div>
              </div>

              <h2 class="form-submit"></h2>

              <a th:href="@{/user/edit(id=${user.id})}" class="btn btn-primary"><i class="fas fa-edit fa-fw"></i>
                Edit profile </a>

            </form>
          </div>
        </div>
      </div>

    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>
</html>