<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title>SkillHub</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>

<header th:replace="fragments.html :: top (iurl= ${user.imageURL})">Here
	goes the header</header>

<body>

	<section>


		<div class="flex-container">
			<div class="container cards">
				<div class="row no-gutters">

					<div class="card" style="width: 50rem;">
						<div class="card-header">User Profile</div>
						<div class="card-body">
							<blockquote class="blockquote mb-0">

								<div class="card mb-3">
									<div class="row no-gutters">
										<div class="col-md-4">

											<!--	<img class="img-view" th:src= "${user.imageURL.empty ? 'images/avatar.png' : ''/images/' + user.imageURL}">
											th:src="@{${'/images/' + user.imageURL}}"
												alt="/images/avatar.png">
												th:src= "${user.imageURL.empty ? 'images/avatar.png' : ''/images/' + user.imageURL}"-->


											<img class="img-view" th:unless="${user.imageURL.empty}"
												th:src="@{${'/images/' + user.imageURL}}" alt="" /> <img class="img-view"
												th:if="${user.imageURL.empty}" height="150" width="150"
												src="../images/avatar.png" />

										</div>
										<div class="col-md-8">
											<div class="card-body">
												<p class="card-text">
												<div class="flex-container">

													<div class="row no-gutters">
														<div class="col-4">
															<p class="bold">Firstname:</p>
														</div>
														<div class="col-1">
															<p></p>
														</div>
														<div class="col-6">
															<p th:text="|${user.firstName}|"></p>
														</div>
													</div>

													<div class="row no-gutters">
														<div class="col-4">
															<p class="bold">Lastname:</p>
														</div>
														<div class="col-1">
															<p></p>
														</div>
														<div class="col-6">
															<p th:text="|${user.lastName}|"></p>
														</div>
													</div>

													<div class="row no-gutters">
														<div class="col-4">
															<p class="bold">Age:</p>
														</div>
														<div class="col-1">
															<p></p>
														</div>
														<div class="col-6">
															<p th:text="|${user.age}|"></p>
														</div>
													</div>

													<div class="row no-gutters">
														<div class="col-4">
															<p class="bold">City:</p>
														</div>
														<div class="col-1">
															<p></p>
														</div>
														<div class="col-6">
															<p th:text="|${user.city}|"></p>
														</div>
													</div>

													<div class="row no-gutters">
														<div class="col-4">
															<p class="bold">E-Mail:</p>
														</div>
														<div class="col-1">
															<p></p>
														</div>
														<div class="col-6">
															<p th:text="|${user.email}|"></p>
														</div>
													</div>


													<div class="row no-gutters">
														<div class="col-4">
															<p class="bold">Description</p>
														</div>
														<div class="col-1">
															<p></p>
														</div>
														<div class="col-6">
															<p th:text="|${user.description}|"></p>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>

								</div>
							</blockquote>

							<a th:href="@{/user/edit(id=${user.id})}" class="btn btn-primary">Edit</a>
						</div>

					</div>
				</div>

			</div>
		</div>

	</section>


	<footer th:replace="fragments.html :: bottom">Here goes the
		footer</footer>

</body>
</html>