<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments.html :: head"></head>

<body>

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <div class="flex-container">
      <div class="container cards">
        <div class="row no-gutters">

          <div class="card w-75">
            <div class="card-header">
              <i class="fas fa-user"></i> User Profile
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">

                <div class="card mb-3">
                  <div class="row no-gutters">
                    <div class="col-md-4">

                      <img class="img-view" th:unless="${user.image}" src="../images/avatar.png" height="150"
                        width="150"> <img class="img-view" th:if="${user.image}"
                        th:src="@{'/user/' + ${user.id} + '/image'}" height="150" width="150">

                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-text">
                        <div class="flex-container">

                          <div class="row no-gutters">
                            <div class="col-4">
                              <p class="bold">Firstname:</p>
                            </div>
                            <div class="col-1">
                              <p></p>
                            </div>
                            <div class="col-6">
                              <p th:text="|${user.firstName}|"></p>
                            </div>
                          </div>

                          <div class="row no-gutters">
                            <div class="col-4">
                              <p class="bold">Lastname:</p>
                            </div>
                            <div class="col-1">
                              <p></p>
                            </div>
                            <div class="col-6">
                              <p th:text="|${user.lastName}|"></p>
                            </div>
                          </div>

                          <div class="row no-gutters">
                            <div class="col-4">
                              <p class="bold">Age:</p>
                            </div>
                            <div class="col-1">
                              <p></p>
                            </div>
                            <div class="col-6">
                              <p th:text="|${user.age}|"></p>
                            </div>
                          </div>

                          <div class="row no-gutters">
                            <div class="col-4">
                              <p class="bold">City:</p>
                            </div>
                            <div class="col-1">
                              <p></p>
                            </div>
                            <div class="col-6">
                              <p th:text="|${user.city}|"></p>
                            </div>
                          </div>

                          <div class="row no-gutters">
                            <div class="col-4">
                              <p class="bold">E-Mail:</p>
                            </div>
                            <div class="col-1">
                              <p></p>
                            </div>
                            <div class="col-6">
                              <p th:text="|${user.email}|"></p>
                            </div>
                          </div>


                          <div class="row no-gutters">
                            <div class="col-4">
                              <p class="bold">Description</p>
                            </div>
                            <div class="col-1">
                              <p></p>
                            </div>
                            <div class="col-6">
                              <p th:text="|${user.description}|"></p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </blockquote>

              <a href="javascript:javascript:history.go(-1)" class="btn btn-primary"> <i class="fas fa-arrow-left"></i>
                Go Back
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>