<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments.html :: head"></head>

<body>

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <!--     Jumbotron -->
    <!--     <div class="jumbotron"> -->
    <!--       <img class="img" th:src="@{${'../images/' + skill.imageURL}}" alt="alt"> -->
    <!--       <div class="box"> -->
    <!--         <h1 class="display-4" style="color: black" th:text="|${skill.name} Skill|">Climbing Skills</h1> -->
    <!--         <p class="lead" style="color: black">Find people who teach you their skill! Let's get in contact!</p> -->
    <!--       </div> -->
    <!--     </div> -->

    <div class="container">

      <div class="row" th:each="user : ${users}">

        <div class="col col-6 col-lg-2">
          <img class="img-view" th:unless="${user.image}" src="../images/avatar.png" height="150" width="150"> <img
            class="img-view" th:if="${user.image}" th:src="@{'/user/' + ${user.id} + '/image'}" height="150" width="150">
        </div>

        <div class="w-100 d-block d-lg-none"></div>

        <div class="col col-12 col-lg-8">
          <div class="container-fluid">
            <form th:object="${user}">

              <h2 class="headline" th:text="*{firstName}">First name</h2>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">City</label>
                <div class="col-sm-9">
                  <div class="form-control-plaintext" th:text="*{city}"></div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Age</label>
                <div class="col-sm-4">
                  <div class="form-control-plaintext" th:text="*{age}"></div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <div class="form-control-plaintext" th:text="*{description}"></div>
                </div>
              </div>

              <h2 class="form-submit"></h2>

              <a th:href="@{${'/user/view?id=' + user.id}}" class="btn btn-primary"><i
                class="far fa-address-card fa-fw"></i> View profile</a>

            </form>
          </div>
        </div>


      </div>

    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>