<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments.html :: head"></head>

<body>

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <div class="jumbotron jumbotron-fluid"
      th:style="'background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)
        ),url('+@{${'../images/' + skill.imageURL}}+'); background-size: cover;'">
      <div class="container">
        <h1 class="display-4" style="color: white" th:text="|${skill.name} Skill|">Climbing Skills</h1>
        <p class="lead" style="color: white">Find people who teach you their skill! Let's get in contact!</p>
      </div>
    </div>

    <div class="container">

      <div class="row justify-content-between user-list-item" th:each="user : ${users}" th:object="${user}">

        <div class="col col-auto">
          <img class="user-list-avatar" th:unless="${user.image}" src="../images/avatar.png"> <img
            class="user-list-avatar" th:if="${user.image}" th:src="@{'/user/' + ${user.id} + '/image'}">
        </div>

        <div class="w-100 d-block d-md-none"></div>

        <div class="col d-flex">
          <div class="container-fluid">

            <h2 class="headline" th:text="*{firstName}">First name</h2>

            <div class="row">
              <label class="col col-12 col-sm-3 col-lg-2 col-form-label">City</label>
              <div class="col d-md-flex">
                <div class="form-control-plaintext" th:text="*{city}"></div>
              </div>
            </div>

            <div class="row">
              <label class="col col-12 col-sm-3 col-lg-2 col-form-label">Age</label>
              <div class="col d-md-flex">
                <div class="form-control-plaintext" th:text="*{age}"></div>
              </div>
            </div>

            <div class="row">
              <label class="col col-12 col-sm-3 col-lg-2 col-form-label">Description</label>
              <div class="col d-md-flex">
                <div class="form-control-plaintext" th:text="*{description}"></div>
              </div>
            </div>

          </div>
        </div>

        <div class="w-100 d-block d-md-none"></div>

        <div class="col col-auto">
          <a th:href="@{${'/user/view?id=' + user.id}}" class="btn btn-primary"><i class="far fa-address-card fa-fw"></i>
            View profile</a>
        </div>

      </div>

    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>