<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments.html :: head"></head>

<body>

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <div class="container">
      <form class="form-signin form-one-column" method="post" th:action="@{/password/upsert}"
        th:object="${passwordForm}">
        <div class="row">
          <div class="col col-12">
            <h2 class="form-signin-heading">Change Password</h2>
            <p>
              <label for="username" class="sr-only">Email</label> <input type="password" class="form-control"
                id="password" name="password"
                onchange="if(this.checkValidity()) form.passwordRepeated.pattern = this.value;"
                placeholder="New password" required autofocus th:field="*{password}">
            </p>
            <p>
              <label for="password" class="sr-only">Password</label> <input type="password" class="form-control"
                id="passwordRepeated" name="passwordRepeated"
                onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
                placeholder="Repeat new password" required th:field="*{passwordRepeated}">
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              <i class="fas fa-sign-in-alt fa-fw"></i> Save new Password
            </button>
            <a class="btn btn-lg btn-outline-danger btn-block" href="javascript:javascript:history.go(-1)"> Cancel</a>
          </div>
        </div>
      </form>
    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>