<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments.html :: head"></head>


<body class="text-center">

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <div class="container">
      <div class="form-signin form-one-column">
        <div class="row">
          <div class="col col-12">
            <h4 class="form-signin-heading">The email address you entered is already used by another user.</h4>
            <a class="btn btn-lg btn-primary btn-block" href="javascript:javascript:history.go(-1)"> <i
              class="fas fa-edit fa-fw"></i> Try again
            </a>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>