<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<!-- Fragment: Head -->
<head th:fragment="head">
<title>SkillHub</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Fragment: Header -->
  <header th:fragment="top">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">SkillHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home fa-fw" aria-hidden="true"></i>
              Home </a></li>

          <li class="nav-item"><a class="nav-link" href="/skills"><i class="fas fa-address-book fa-fw"></i>
              Find Skills</a></li>

          <li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a class="nav-link" href="/user/profile"><i
              class="fas fa-user fa-fw"></i> My Profile </a></li>

          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" href="/admin"><i
              class="fas fa-database fa-fw"></i> Administrate</a></li>

        </ul>

        <a th:href="@{'/user/profile'}"> <img class="mr-3 my-2 avatar" sec:authorize="hasRole('ROLE_USER')"
          th:src="@{'/avatar/image'} != null ? @{'/avatar/image'} : '/images/avatar.png'" alt=" ">
        </a> <a class="btn btn-outline-primary btn-sm" sec:authorize="!isAuthenticated()" href="/login">Login / Register</a>
        <a class="btn btn-outline-primary btn-sm" sec:authorize="isAuthenticated()" href="/logout">Logout</a>

      </div>

    </nav>
  </header>

  <!-- Fragment: Footer -->
  <footer class="footer static-bottom" th:fragment="bottom">
    <div class="container">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <ul class="list-unstyled quick-links">
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Imprint</a></li>
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Privacy</a></li>
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <ul class="list-unstyled quick-links">
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Sponsors</a></li>
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Career</a></li>
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Wildcodeschool</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <ul class="list-unstyled quick-links">
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Team</a></li>
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Our Mission</a></li>
            <li><a href="/"><i class="fa fa-angle-double-right"></i> Protection of Minors</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="/"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="/"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="/"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="/"><i class="fab fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="/" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
          <p>
            <a href="/">SkillHub</a> Inc.
          </p>
          <p class="h6">
            &copy All right reversed.<a class="ml-2" href="https://www.telekom.com" target="_blank">Telekom AG</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>