<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<!-- Fragment: Head -->
<head th:fragment="head">
<title>SkillHub</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Fragment: Header -->
  <header th:fragment="top">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> SkillHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/skills">Find Skills</a>
          </li>

          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/user/profile">My Profile </a>
          </li>

        </ul>
      </div>

      <ul class="navbar navbar-expand-md navbar-light bg-light">
        <li class="nav-item">
          <a class="nav-link" sec:authorize="!isAuthenticated()"></a>
          <a class="btn-outline-secondary btn-sm" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
        </li>

        <li class="nav-item">
          <a class="btn-outline-secondary btn-sm" th:href="@{/login}" sec:authorize="!isAuthenticated()"><i class="fas fa-sign-in-alt"></i> Login /
            Register</a>
          <a class="btn btn-outline-secondary btn-sm" th:href="@{/logout}" sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span>
          </a>
        </li>

        <li>
          <pic> <a th:href="@{'/user/profile'}">
            <img class="avatar" sec:authorize="hasRole('ROLE_USER')"
              th:src="@{'/avatar/image'} != null ? @{'/avatar/image'} : '/images/avatar.png'" alt=" ">
          </a> </pic>
        </li>
      </ul>
    </nav>
  </header>


  <!-- Fragment: Footer -->
  <footer th:fragment="bottom">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">SkillHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="#">Impressum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>

      </div>
      <ul class="navbar navbar-expand-md navbar-light bg-light">
        <li class="nav-item copyright">
          <a class="nav-link" href="#"></a>
          <a class="btn-outline-secondary btn-sm">Copyright &copy; 2020</a>
        </li>
      </ul>

    </nav>
  </footer>

</body>

</html>