<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<title>SkillHub</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>

<body>

	<header th:replace="fragments.html :: top">Here goes the
		header</header>

	<main>
		<!--Jumbotron-->
		<div class="jumbotron">
		<img class="img" src="../images/milkyway.jpg" alt="alt">
			<div class="box">
				<h1 class="display-4" style="color: black">SkillHub</h1>
				<p class="lead" style="color: black">What are you looking for?</p>
			</div>
		</div>



		<section>
			<div class="flex-container container">

				<a href="/usersoverview" class="btn btn-primary btn-lg active"
					role="button" aria-pressed="true">Return to the list (For
					Martin: delete later)</a> <br> <br> <a href="/user/edit"
					class="btn btn-primary btn-lg active" role="button"
					aria-pressed="true">Create User</a> <br> <br> <a
					href="/skills" class="btn btn-primary btn-lg active" role="button"
					aria-pressed="true">Find Skills</a> <br> <br> <a href="/"
					class="btn btn-primary btn-lg active" role="button"
					aria-pressed="true">My Skills</a> <br> <br> <a href="/"
					class="btn btn-primary btn-lg active" role="button"
					aria-pressed="true">Log Out</a> <br> <br> <a href="/"
					class="btn btn-primary btn-lg active" role="button"
					aria-pressed="true">To Index (delete later; test jump)</a> <br>
				<br>
			</div>
		</section>


	</main>


	<footer th:replace="fragments.html :: bottom">Here goes the
		footer</footer>


</body>

</html>