<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<title>SkillHub</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
</head>

<header th:replace="fragments.html :: top">Here goes the header</header>

<body>
	<main>
	<head>
<title>Index: SkillHub</title>
<h1>Index: SkillHub (draft version):</h1>
	</head>

	<body>

		<br>

		<a href="/users">Return to the list (For Martin: delete later)</a>
		<br>
		<br>
		<a href="/users/create">Create User</a>
		<br>
		<br>
		<a href="/skills">Find Skills</a>
		<br>
		<br>
		<a href="/">My Skills</a>
		<br>
		<br>
		<a href="/">Log Out</a>
		<br>
		<br>
		<a href="/">To Index (delete later; test jump)</a>



	</body>


	</main>


<footer th:replace="fragments.html :: bottom">Here goes the footer</footer>


</body>

</html>