<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments.html :: head"></head>

<body>

  <header th:replace="fragments.html :: top">Here goes the header</header>

  <main>

    <!--     Jumbotron -->
    <!--     <div class="jumbotron"> -->
    <!--       <img class="img" src="../images/milkyway.jpg" alt="alt"> -->
    <!--       <div class="box"> -->
    <!--         <h1 class="display-4" style="color: black">Please Login</h1> -->
    <!--         <p class="lead" style="color: black">If you don't have an user account yet, please register.</p> -->
    <!--       </div> -->
    <!--     </div> -->

    <div class="container">
      <form name="f" class="form-signin form-two-columns" method="post" th:action="@{/perform_login}" action="/login">
        <div class="row">
          <div class="col col-12 col-md-6">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div th:if="${param.error}" class="alert alert-danger">Invalid username and password.</div>
            <div th:if="${param.logout}" class="alert alert-danger">You have been logged out.</div>
            <p>
              <label for="username" class="sr-only">Email</label> <input type="text" id="username" name="username"
                class="form-control" placeholder="Email" required autofocus>
            </p>
            <p>
              <label for="password" class="sr-only">Password</label> <input type="password" id="password"
                name="password" class="form-control" placeholder="Password" required>
            </p>
            <input name="_csrf" type="hidden" value="bfe26e6f-98e1-427f-b704-0fe50378d31a" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              <i class="fas fa-sign-in-alt fa-fw"></i> Login
            </button>
          </div>
          <div class="col col-12 col-md-6 flex-column">
            <h2 class="form-signin-heading">Register</h2>
            <div class="flex-fill-vertical">If you don't have an user account yet, please register here.</div>
            <a class="btn btn-lg btn-primary btn-block" th:href="register" role="button"><i class="far fa-user"></i>
              Register</a>
          </div>
        </div>
      </form>
    </div>

  </main>

  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>

</body>

</html>