<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head th:replace="fragments.html :: head"></head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">SkillHub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        </ul>
      </div>
    </nav>
  </header>


  <main>
    <!--Jumbotron-->
    <div class="jumbotron">
      <img class="img" src="../images/milkyway.jpg" alt="alt">
      <div class="box">
        <h1 class="display-4" style="color: black">Please Login</h1>
        <p class="lead" style="color: black">If you don't have an user account yet, please register.</p>
      </div>
    </div>

    <section>
      <div class="flex-container container">
        <form name="f" th:action="@{/perform_login}" method="post">
          <fieldset>
            <h2>Please sign in</h2>
            <div th:if="${param.error}" class="alert alert-error">Invalid username and password.</div>
            <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>




            <div class="row no-gutters">
              <div class="col-5">
                <p>
                  <label for="username" class="sr-only">Email</label>
                  <input type="text" id="username" name="username" class="form-control" placeholder="username"
                    required="" autofocus="">
                </p>
              </div>
            </div>

            <div class="row no-gutters">
              <div class="col-5">
                <p>
                  <label for="password" class="sr-only">Password</label>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required="">
                </p>
              </div>


              <div class="col-2"></div>

              <div class="col-5">
                <p>If you don't have an user account yet, please register here.</p>
              </div>

            </div>

            <div class="row no-gutters">
              <div class="col-5">
                <input name="_csrf" type="hidden" value="f8bf43d7-b1d4-40e1-8098-c30160fdefe3">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
              </div>

              <div class="col-2"></div>

              <div class="col-5">
                <a class="btn btn-lg btn-primary btn-block" th:href="register" role="button">Register</a>

              </div>
            </div>

            <div class="row no-gutters">
              <p></p>
            </div>

          </fieldset>
        </form>

      </div>
    </section>



  </main>


  <footer th:replace="fragments.html :: bottom">Here goes the footer</footer>


</body>

</html>