<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<title>SkillHub</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
</head>

<body>

	<header th:replace="fragments.html :: top">Here goes the
		header</header>

	<main>
		<!--Jumbotron-->
		<div class="jumbotron">
			<img class="img" src="../images/milkyway.jpg" alt="alt">
			<div class="box">
				<h1 class="display-4" style="color: black">Find the skills your
					are searching for!</h1>
				<p class="lead" style="color: black">What are you looking for?</p>
			</div>
		</div>

		<!--Cards-->
		<section>
			<div class="flex-container">
				<div class="container cards">
					<div class="row no-gutters">
						<!--Thymleaf-->
						<div th:each="skill : ${skills}" class="card text-center"
							style="width: 18rem;">
							<img class="card-img-top"
								th:src="@{${'../images/' + skill.imageURL}}"
								alt="Card image cap">
							<div class="card-body">
								<h5 th:text="${skill.name}" class="card-title">Name</h5>
								<a th:href="@{${'users/search?id=' + skill.id}}"
									class="btn btn-primary">Find people with this skill</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>


		<hr />

	</main>


	<footer th:replace="fragments.html :: bottom">Here goes the
		footer</footer>


</body>

</html>